.container {
  text-align: center;
  height:1000px;
  padding-top: 1px;
}

.frame {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  border: 1px solid #917e7e;
  border-radius: 10px;
  max-width: 35rem;
  margin: 100px auto 0;
  padding-top: 10px;
}

.quote {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  font-style: italic;
}

.btn {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: whitesmoke;
}
